# chat

# clips
clips/downloads
clips/out
clips/processed
clips/transcripts

# stream
stream/chunks

transcripts

node_modules
.devbox
.env*
.flaskenv*
!.env.project
!.env.vault

.*access_token

streamlabs/public

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude sensitive variables files
*.tfvars.json
*.tfvars
# But you might want to include example.tfvars

# CLI configuration files
.terraformrc
terraform.rc

# Build dist
build/dist

# wolfy tmp cleanup
ai/*
auth/*
boardModule/*
dvr/*
stream/*