node_modules
.devbox
.env*
.flaskenv*
!.env.project
!.env.vault

.*access_token

# streamlabs assets
streamlabs/public

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Exclude sensitive variables files
*.tfvars.json
*.tfvars

# CLI configuration files
.terraformrc
terraform.rc

# Crash log files
crash.log
crash.*.log

# rust
**/target/*

# Build dist
build/dist

# DB Badger files
db/badger

# docs
docs/.vitepress

# pids
pids

# workflow
workflow/workflow

# woofx3 configuration
.woofx3.json

# wolfy tmp cleanup
boardModule/*
tmp/*
