{
	default_bind 127.0.0.1
}

api.local.woofx3.tv {
	reverse_proxy http://localhost:9001
	tls internal
}

auth.local.woofx3.tv {
	reverse_proxy /* http://localhost:8081
	tls internal
}

streamware.local.woofx3.tv {
	reverse_proxy http://localhost:9101
	tls internal
}
