#timer {
    font-size: 40px;
    font-family: "Space Mono", serif;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.7),
    0 0 15px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.5);
}

body {
    background: white;
}